.version.futureblooms /* version checker */
{
	color: #000014;
	background-color: #2EECD5;
}

.html
{
	background-color: #F6F6F6;
}

#page
{
	z-index: 1;
	width: 888px;
	min-height: 783px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 17px 24px 50px 112px;
}

#pu9145-4
{
	width: 0.01px;
	margin-left: 705px;
}

#u9145-4
{
	z-index: 6;
	width: 33px;
	min-height: 16px;
	margin-right: -10000px;
}

#u9089-4
{
	z-index: 2;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	left: 52px;
}

#u9090-4
{
	z-index: 10;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	left: 127px;
}

#u1742-8
{
	z-index: 14;
	width: 800px;
	min-height: 0px;
	background-color: transparent;
	padding-top: 26px;
	padding-bottom: 42px;
	text-align: left;
	margin-top: 17px;
	position: relative;
}

#u1742-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1742-6  span,#u1742-6  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#pu7193
{
	width: 0.01px;
}

#u7193
{
	z-index: 30;
	width: 387px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7203
{
	z-index: 34;
	width: 387px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 412px;
}

#u7168
{
	z-index: 24;
	width: 799px;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#u7163
{
	z-index: 22;
	width: 799px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u7213
{
	z-index: 38;
	width: 799px;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#pu7198
{
	width: 0.01px;
	margin-top: 22px;
}

#u7198
{
	z-index: 32;
	width: 387px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7228
{
	z-index: 42;
	width: 387px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 412px;
}

#u7223
{
	z-index: 40;
	width: 800px;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
}

#u7208
{
	z-index: 36;
	width: 799px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u7183
{
	z-index: 26;
	width: 799px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u7188
{
	z-index: 28;
	width: 799px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1024px;
}

