.version.jabula_posters /* version checker */
{
	color: #0000E5;
	background-color: #D5FA72;
}

.html
{
	background-color: #F6F6F6;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 596px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 254px;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu1297
{
	z-index: 18;
	width: 0.01px;
	height: 432px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 112px;
}

#u1316
{
	position: absolute;
	width: 850px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -110px;
	left: -233px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1316popup
{
	z-index: 19;
}

#u1360
{
	z-index: 20;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1369
{
	z-index: 22;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1378
{
	z-index: 24;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1360_img,#u1369_img,#u1378_img
{
	padding-left: 148px;
	padding-right: 147px;
}

#u1300
{
	position: absolute;
	width: 892px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 2px;
}

#u1300popup
{
	z-index: 26;
}

#u1363
{
	z-index: 27;
	width: 288px;
	height: 430px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u1372
{
	z-index: 29;
	width: 288px;
	height: 430px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u1381
{
	z-index: 31;
	width: 288px;
	height: 430px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u1363:hover,#u1372:hover,#u1381:hover
{
	width: 288px;
	height: 430px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1363_clip,#u1372_clip,#u1381_clip
{
	overflow: hidden;
	width: 288px;
	height: 430px;
}

#u1363_img,#u1372_img,#u1381_img
{
	margin: 2px -6px 2px -7px;
}

#u1315-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -87px;
	left: -163px;
}

#u1315-4popup
{
	z-index: 33;
}

#u1313-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -87px;
	left: -133px;
}

#u1313-4popup
{
	z-index: 37;
}

#u1298
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -87px;
	left: 522px;
}

#u1298:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1298:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1299-4
{
	z-index: 42;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1296-4
{
	z-index: 14;
	width: 597px;
	min-height: 0px;
	background-color: transparent;
	padding-top: 26px;
	padding-bottom: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 499px;
	left: 116px;
}

#u1296-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1296-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u9145-4
{
	z-index: 6;
	width: 33px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 817px;
}

#u9089-4
{
	z-index: 2;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 869px;
}

#u9090-4
{
	z-index: 10;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 944px;
}

body
{
	position: relative;
	min-width: 1024px;
}

