.version.kohler_pitch_win /* version checker */
{
	color: #0000EF;
	background-color: #E38599;
}

.html
{
	background-color: #F6F6F6;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 146px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 704px;
	margin-left: auto;
	margin-right: auto;
}

#u7429-4
{
	z-index: 14;
	width: 589px;
	min-height: 20px;
	background-color: transparent;
	padding-top: 26px;
	padding-bottom: 42px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 112px;
}

#u7429-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7429-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u9145-4
{
	z-index: 6;
	width: 33px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 817px;
}

#u9089-4
{
	z-index: 2;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 869px;
}

#u9090-4
{
	z-index: 10;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 944px;
}

body
{
	position: relative;
	min-width: 1024px;
}

