#u9076-4,#u9077-4
{
	background-color: transparent;
	font-style: italic;
	position: relative;
}

#u9076-2,#u9077-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u9076-2  span,#u9077-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

