.version.sky_static /* version checker */
{
	color: #0000E9;
	background-color: #467373;
}

.html
{
	background-color: #F6F6F6;
}

#page
{
	z-index: 1;
	width: 888px;
	min-height: 782.1895179558833px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 17px 24px 50.810482044116725px 112px;
}

#pu9145-4
{
	width: 0.01px;
	margin-left: 705px;
}

#u9145-4
{
	z-index: 6;
	width: 33px;
	min-height: 16px;
	margin-right: -10000px;
}

#u9089-4
{
	z-index: 2;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	left: 52px;
}

#u9090-4
{
	z-index: 10;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	left: 127px;
}

#u6967
{
	z-index: 27;
	width: 800px;
	min-height: 449px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u1275-7
{
	z-index: 14;
	width: 796px;
	min-height: 0px;
	background-color: transparent;
	padding-top: 26px;
	padding-bottom: 42px;
	margin-left: 2px;
	position: relative;
}

#u1275-2,#u1275-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1275-2  span,#u1275-5  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u1284
{
	z-index: 23;
	width: 800px;
	background-color: transparent;
	position: relative;
}

#u1279
{
	z-index: 21;
	width: 800px;
	background-color: transparent;
	margin-top: 45px;
	position: relative;
}

#u1289
{
	z-index: 25;
	width: 800px;
	background-color: transparent;
	margin-top: 45px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1024px;
}

