.version.tic_tac_tic_tock_clock /* version checker */
{
	color: #00000B;
	background-color: #C128AA;
}

.html
{
	background-color: #F6F6F6;
}

#page
{
	z-index: 1;
	width: 888px;
	min-height: 700.7999999999998px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 17px 24px 132.20000000000016px 112px;
}

#pu9145-4
{
	width: 0.01px;
	margin-left: 705px;
}

#u9145-4
{
	z-index: 6;
	width: 33px;
	min-height: 16px;
	margin-right: -10000px;
}

#u9089-4
{
	z-index: 2;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	left: 52px;
}

#u9090-4
{
	z-index: 10;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	left: 127px;
}

#u1497
{
	z-index: 14;
	width: 800px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u1490-4
{
	z-index: 16;
	width: 800px;
	min-height: 0px;
	background-color: transparent;
	padding-top: 26px;
	padding-bottom: 42px;
	position: relative;
}

#u1490-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1490-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

body
{
	position: relative;
	min-width: 1024px;
}

