.version.wedding_posters /* version checker */
{
	color: #0000EB;
	background-color: #E662D0;
}

.html
{
	background-color: #F6F6F6;
}

#page
{
	z-index: 1;
	width: 888px;
	min-height: 782.6999999999998px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 17px 24px 50.30000000000018px 112px;
}

#pu9145-4
{
	width: 0.01px;
	margin-left: 705px;
}

#u9145-4
{
	z-index: 6;
	width: 33px;
	min-height: 16px;
	margin-right: -10000px;
}

#u9089-4
{
	z-index: 2;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	left: 52px;
}

#u9090-4
{
	z-index: 10;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	left: 127px;
}

#u2597-4
{
	z-index: 50;
	width: 800px;
	min-height: 0px;
	background-color: transparent;
	padding-top: 26px;
	padding-bottom: 42px;
	text-align: left;
	margin-top: 17px;
	position: relative;
}

#u2597-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2597-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#slideshowu2479
{
	z-index: 14;
	width: 0.01px;
	height: 1568px;
	position: relative;
}

#u2487
{
	position: absolute;
	width: 850px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -85px;
	left: -65px;
	-pie-background: rgba(0,0,0,0.9);
}

#u2487popup
{
	z-index: 15;
}

#u2588
{
	z-index: 16;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2561
{
	z-index: 18;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2579
{
	z-index: 20;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2552
{
	z-index: 22;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2561_img,#u2552_img
{
	padding-left: 147px;
	padding-right: 148px;
}

#u2570
{
	z-index: 24;
	width: 806px;
	height: 723px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2588_img,#u2579_img,#u2570_img
{
	padding-left: 148px;
	padding-right: 147px;
}

#u2497
{
	position: absolute;
	width: 800px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 839px;
}

#u2497popup
{
	z-index: 26;
}

#u2591
{
	z-index: 27;
	width: 259px;
	height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2564
{
	z-index: 29;
	width: 259px;
	height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#u2582
{
	z-index: 31;
	width: 259px;
	height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 539px;
}

#u2591:hover,#u2564:hover,#u2582:hover
{
	width: 259px;
	height: 359px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2555
{
	z-index: 33;
	width: 259px;
	height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 1px;
}

#u2573
{
	z-index: 35;
	width: 259px;
	height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 270px;
}

#u2555:hover,#u2573:hover
{
	width: 259px;
	height: 359px;
	min-height: 0px;
	margin: 369px -10000px 0px 0px;
}

#u2591_img,#u2564_img,#u2582_img,#u2555_img,#u2573_img
{
	padding: 2px 3px 1px 4px;
}

#u2520-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -62px;
	left: 5px;
}

#u2520-4popup
{
	z-index: 37;
}

#u2494-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: -62px;
	left: 35px;
}

#u2494-4popup
{
	z-index: 41;
}

#u2495
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -62px;
	left: 690px;
}

#u2495:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u2495:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u2496-4
{
	z-index: 46;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 1024px;
}

